.history {
  padding: 65px 0 70px;
  text-align: center;
}

.history-title {
  font-weight: 700;
  font-size: 34px;
}

.history-img {
  width: 100%;
  max-width: 950px;
  height: 655px;
  object-fit: cover;
  margin: 60px 0 30px;
}

.img-description {
  font-weight: 500;
  font-size: 18px;
  max-width: 650px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .history {
    padding: 50px 0 70px;
  }

  .history-img {
    height: 480px;
  }

  .img-description {
    font-size: 14px;
    max-width: 300px;
  }
}